<ul class="list-group" *ngFor="let album of albums">
  <li class="list-group-item">
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">{{ album.title }}</div>
          <div class="panel-body">
            
            <div class="row">
              <div class="col-xs-6 col-md-3">
                <a href="#" class="thumbnail">
                  <img src="..." alt="...">
                </a>
              </div>
              ...
            </div>

          </div>
        </div>
      </div>
    </div>
  </li>
</ul>